In [63]:
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

# File to Load (Remember to change these)
#city_data_to_load = "data/city_data.csv"
#ride_data_to_load = "data/ride_data.csv"

# Read the City and Ride Data
City_Data_df = pd.read_csv("data/city_data.csv")
Ride_Data_df = pd.read_csv("data/ride_data.csv")
print(City_Data_df.head())
print(Ride_Data_df.head())

# Combine the data into a single dataset
city_and_ride_df = pd.merge(Ride_Data_df, City_Data_df, how='right', on="city")

# Display the data table for preview
city_and_ride_df.head()

           city  driver_count   type
0   Richardfort            38  Urban
1  Williamsstad            59  Urban
2   Port Angela            67  Urban
3    Rodneyfort            34  Urban
4   West Robert            39  Urban
                 city                 date   fare        ride_id
0  Lake Jonathanshire  2018-01-14 10:14:22  13.83  5739410935873
1  South Michelleport  2018-03-04 18:24:09  30.24  2343912425577
2  Port Samanthamouth  2018-02-24 04:29:00  33.44  2005065760003
3          Rodneyfort  2018-02-10 23:22:03  23.44  5149245426178
4          South Jack  2018-03-06 04:28:35  34.58  3908451377344

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2018-01-14 10:14:22,13.83,5739410935873,5,Urban
1,Lake Jonathanshire,2018-04-07 20:51:11,31.25,4441251834598,5,Urban
2,Lake Jonathanshire,2018-03-09 23:45:55,19.89,2389495660448,5,Urban
3,Lake Jonathanshire,2018-04-07 18:09:21,24.28,7796805191168,5,Urban
4,Lake Jonathanshire,2018-01-02 14:14:50,13.89,424254840012,5,Urban

## Bubble Plot of Ride Sharing Data

In [64]:
x_limit = 40

# List of values from 0 to 40 each value being 1 greater than the last
x_axis = np.arange(0, x_limit+15, 5)
x_axis

array([ 0,  5, 10, 15, 20, 25, 30, 35, 40, 45, 50])

In [65]:
increment=city_and_ride_df["fare"].max()/(len(x_axis))
increment

5.322727272727272

In [66]:
city_and_ride_df.dtypes

city             object
date             object
fare            float64
ride_id           int64
driver_count      int64
type             object
dtype: object

In [67]:
# Create a random array of data that we will use for our y values
fare_max=city_and_ride_df["fare"].max()
#y_limit=60
data = np.arange(3.0,(fare_max+6.45),5)
data

array([ 3.,  8., 13., 18., 23., 28., 33., 38., 43., 48., 53., 58., 63.])

In [113]:
df1 = pd.DataFrame( { 
    "Name" : ["Alice", "Bob", "Mallory", "Mallory", "Bob" , "Mallory"] , 
    "City" : ["Seattle", "Seattle", "Portland", "Seattle", "Seattle", "Portland"] } )
g1 = df1.groupby( [ "Name", "City"] ).count()
g1.index
#g1

MultiIndex(levels=[['Alice', 'Bob', 'Mallory'], ['Portland', 'Seattle']],
           labels=[[0, 1, 2, 2], [1, 1, 0, 1]],
           names=['Name', 'City'])

In [182]:
# We only want unique gender data. create a new table that takes the SN and the Gender columns 
#player_demographics = purchase_data_pd.loc[:, ["Gender", "SN", "Age"]]
#player_demographics = player_demographics.drop_duplicates()
#num_players = player_demographics.count()[0]
#pd.DataFrame({"Total Players": [num_players]})

In [183]:
Urban_driver_df = city_and_ride_df.loc[city_and_ride_df["type"] == "Urban", :]
print("______")
#Urban_CR_df["fare"] = Urban_CR_df["fare"].map("${:.2f}".format)
print(Urban_CR_df.head(1))

print("______")
city_count_df=Urban_driver_df["city"].unique()
print(city_count_df)

print("______")
city_count=len(city_count_df)
print("There are " + str(city_count) + " urban cities")

print("______")
total_urban_driver=Urban_driver_df["type"].count()
print(total_urban_driver_count)

urban_drivers_per_city_demographics = Urban_CR_df.loc[:, ["city", "driver_count"]]
urban_drivers_per_city = urban_drivers_per_city_demographics.drop_duplicates()
urban_drivers_per_city.reset_index(inplace=True)
urban_drivers_per_city.head()

______
                 city                 date   fare        ride_id  \
0  Lake Jonathanshire  2018-01-14 10:14:22  13.83  5739410935873

   driver_count   type
0             5  Urban
______
['Lake Jonathanshire' 'South Michelleport' 'Port Samanthamouth'
 'Rodneyfort' 'South Jack' 'South Latoya' 'New Paulville' 'Simpsonburgh'
 'South Karenland' 'North Jasmine' 'New Kimberlyborough' 'West Angela'
 'Roberthaven' 'North Jason' 'Williamsview' 'Leahton' 'West Anthony'
 'New Paulton' 'West Patrickchester' 'Deanville' 'West Josephberg'
 'West Samuelburgh' 'West Heidi' 'Loganberg' 'Huntermouth' 'Grahamburgh'
 'Port Frank' 'East Kaylahaven' 'West Robert' 'North Markport'
 'Richardfort' 'Reynoldsfurt' 'Justinberg' 'Martinezhaven' 'Jerryton'
 'Lake Scottton' 'South Evanton' 'Rogerston' 'West Ericstad' 'Hurleymouth'
 'Joneschester' 'Port Angela' 'Barajasview' 'West Christopherberg'
 'New Jacobville' 'Port David' 'Valentineton' 'Carriemouth' 'Williamsstad'
 'Royland' 'Karenberg' 'Christopherfurt' 'Liumouth' 'Johnton' 'Erikaland'
 'Raymondhaven' 'Karenside' 'Lake Danielberg' 'South Phillip'
 'North Madeline' 'Port Johnbury' 'Robertport' 'Pattyland' 'Amandaburgh'
 'North Barbara' 'West Gabriel']
______
There are 66 urban cities
______
59602

   index                city  driver_count
0      0  Lake Jonathanshire             5
1     24  South Michelleport            72
2     55  Port Samanthamouth            57
3     80          Rodneyfort            34
4    103          South Jack            46

In [184]:
Suburban_CR_df = city_and_ride_df.loc[city_and_ride_df["type"] == "Suburban", :]
print("______")
#Urban_CR_df["fare"] = Urban_CR_df["fare"].map("${:.2f}".format)
print(Suburban_CR_df.head(1))

print("______")
Suburban_city_count_df=Suburban_CR_df["city"].unique()
print(Suburban_city_count_df)

print("______")
Suburban_city_count=len(Suburban_city_count_df)
print("There are " + str(Suburban_city_count) + " suburban cities")

print("______")
total_Suburban_driver_count=Suburban_CR_df["type"].count()
print(total_Suburban_driver_count)

suburban_drivers_per_city_demographics = Suburban_CR_df.loc[:, ["city", "driver_count"]]
suburban_drivers_per_city = suburban_drivers_per_city_demographics.drop_duplicates()
suburban_drivers_per_city.reset_index(inplace=True)
suburban_drivers_per_city.head()

______
               city                 date   fare        ride_id  driver_count  \
1625  Barronchester  2018-01-27 03:08:01  27.79  6653622887913            11

          type
1625  Suburban
______
['Barronchester' 'East Kentstad' 'Lake Omar' 'Myersshire' 'West Hannah'
 'East Marymouth' 'New Raymond' 'Lake Robertside' 'Josephside'
 'Brandonfort' 'Lewisland' 'North Richardhaven' 'New Olivia'
 'New Shannonberg' 'Nicolechester' 'Victoriaport' 'South Teresa'
 'East Aaronbury' 'Bethanyland' 'Lake Scott' 'North Jeffrey'
 'Rodriguezview' 'Sotoville' 'South Brenda' 'Port Shane' 'North Timothy'
 'Veronicaberg' 'Williamsonville' 'Lewishaven' 'Lake Ann' 'Grayville'
 'Colemanland' 'West Kimmouth' 'Mezachester' 'Davidfurt' 'East Danielview']
______
There are 36 suburban cities
______
625

   index           city  driver_count
0   1625  Barronchester            11
1   1641  East Kentstad            20
2   1654      Lake Omar            22
3   1668     Myersshire            19
4   1684    West Hannah            12

In [260]:
Urban_CR_df = city_and_ride_df.loc[city_and_ride_df["type"] == "Urban", :]
grouped_Urban_CR_df = Urban_CR_df.groupby(["city"])
#print("_____")
Urban_Rides_By_City = pd.DataFrame(grouped_Urban_CR_df["ride_id"].count())
#print(Rural_Rides_By_City)

Urban_Avg_Fare_By_City = pd.DataFrame(grouped_Urban_CR_df["fare"].mean())
#print(Rural_Avg_Fare_By_City)

Urban_merge_table_1 = pd.merge(Urban_Rides_By_City, Urban_Avg_Fare_By_City , on="city", how="right")
Urban_merge_table_1 


Urban_drivers_per_city_demographics = Suburban_CR_df.loc[:, ["city", "driver_count"]]
Urban_drivers_per_city = pd.DataFrame(Urban_drivers_per_city_demographics.drop_duplicates())

Urban_merge_table_2 = pd.merge(Urban_merge_table_1 , Urban_drivers_per_city, on="city", how="right")
Urban_merge_table_2

Urban_Summary_df = Urban_merge_table_2.rename(columns={"city": "city",
                                        "ride_id": "Rides (per City)",
                                        "fare": "Average Fare",
                                        "driver_count": "Driver Density",
                                         })
Urban_Summary_df.head()

            city  Rides (per City)  Average Fare  Driver Density
0  Barronchester               NaN           NaN              11
1  East Kentstad               NaN           NaN              20
2      Lake Omar               NaN           NaN              22
3     Myersshire               NaN           NaN              19
4    West Hannah               NaN           NaN              12

In [261]:
Suburban_CR_df = city_and_ride_df.loc[city_and_ride_df["type"] == "Suburban", :]
grouped_Suburban_CR_df = Suburban_CR_df.groupby(["city"])
#print("_____")
Suburban_Rides_By_City = pd.DataFrame(grouped_Suburban_CR_df["ride_id"].count())
#print(Rural_Rides_By_City)

Suburban_Avg_Fare_By_City = pd.DataFrame(grouped_Suburban_CR_df["fare"].mean())
#print(Rural_Avg_Fare_By_City)

Suburban_merge_table_1 = pd.merge(Suburban_Rides_By_City, Suburban_Avg_Fare_By_City, on="city", how="right")
Suburban_merge_table_1 


Suburban_drivers_per_city_demographics = Suburban_CR_df.loc[:, ["city", "driver_count"]]
Suburban_drivers_per_city = pd.DataFrame(Suburban_drivers_per_city_demographics.drop_duplicates())

Suburban_merge_table_2 = pd.merge(Suburban_merge_table_1 , Suburban_drivers_per_city, on="city", how="right")
Suburban_merge_table_2

Suburban_sumary_df = Suburban_merge_table_2.rename(columns={"city": "city",
                                        "ride_id": "Rides (per City)",
                                        "fare": "Average Fare",
                                        "driver_count": "Driver Density",
                                         })
Suburban_sumary_df.head()

            city  Rides (per City)  Average Fare  Driver Density
0  Barronchester                16     36.422500              11
1    Bethanyland                18     32.956111              22
2    Brandonfort                19     35.437368              10
3    Colemanland                22     30.894545              23
4      Davidfurt                17     31.995882              23

In [263]:
Rural_CR_df = city_and_ride_df.loc[city_and_ride_df["type"] == "Rural", :]
grouped_Rural_CR_df = Rural_CR_df.groupby(["city"])
#print("_____")
Rural_Rides_By_City = pd.DataFrame(grouped_Rural_CR_df["ride_id"].count())
#print(Rural_Rides_By_City)

Rural_Avg_Fare_By_City = pd.DataFrame(grouped_Rural_CR_df["fare"].mean())
#print(Rural_Avg_Fare_By_City)

Rural_merge_table_1 = pd.merge(Rural_Rides_By_City, Rural_Avg_Fare_By_City, on="city", how="right")
Rural_merge_table_1 


drivers_per_city_demographics = Rural_CR_df.loc[:, ["city", "driver_count"]]
drivers_per_city = pd.DataFrame(drivers_per_city_demographics.drop_duplicates())

Rural_merge_table_2 = pd.merge(Rural_merge_table_1 , drivers_per_city, on="city", how="right")
Rural_merge_table_2

Rural_Summary_df = Rural_merge_table_2.rename(columns={"city": "city",
                                        "ride_id": "Rides (per City)",
                                        "fare": "Average Fare",
                                        "driver_count": "Driver Density",
                                         })
Rural_Summary_df.head()

#plt.scatter(x_axis, data, marker="o", facecolors="red", edgecolors="black", s=x_axis, alpha=0.75)

             city  Rides (per City)  Average Fare  Driver Density
0    Bradshawfurt                10     40.064000               7
1       Garzaport                 3     24.123333               7
2  Harringtonfort                 6     33.470000               4
3     Jessicaport                 6     36.013333               1
4      Lake Jamie                 6     34.358333               4

In [246]:
Rural_CR_df = city_and_ride_df.loc[city_and_ride_df["type"] == "Rural", :]
print("______")
#Urban_CR_df["fare"] = Urban_CR_df["fare"].map("${:.2f}".format)
print(Rural_CR_df.head(1))

print("______")
Rural_city_count_df=Rural_CR_df["city"].unique()
print(city_count_df)

print("______")
Rural_city_count=len(Rural_city_count_df)
print("There are " + str(Rural_city_count) + " rural cities")

print("______")
total_rural_driver_count=Rural_CR_df["driver_count"].sum()
print("There are " + str(total_rural_driver_count)+ " rural drivers")

print("______")
total_rural_rider_count=Rural_CR_df["ride_id"].count()
print("There are " + str(total_rural_rider_count)+ " rural riders")

print("______")
average_rural_fare=Rural_CR_df["fare"].mean()
print("The average rural fare was $" + str(average_rural_fare)+ " .")

# Create a data frame that has average fare pre city,number of rides per city, number of drivers per city
# need average fare pre city
# need total number of rides per city
# need number of drivers per city

drivers_per_city_demographics = Rural_CR_df.loc[:, ["city", "driver_count"]]
drivers_per_city = drivers_per_city_demographics.drop_duplicates()
drivers_per_city.reset_index(inplace=True)
drivers_per_city.head()

______
                city                 date   fare        ride_id  driver_count  \
2250  Randallchester  2018-04-13 11:13:31  43.22  1076079536213             9

       type
2250  Rural
______
['Lake Jonathanshire' 'South Michelleport' 'Port Samanthamouth'
 'Rodneyfort' 'South Jack' 'South Latoya' 'New Paulville' 'Simpsonburgh'
 'South Karenland' 'North Jasmine' 'New Kimberlyborough' 'West Angela'
 'Roberthaven' 'North Jason' 'Williamsview' 'Leahton' 'West Anthony'
 'New Paulton' 'West Patrickchester' 'Deanville' 'West Josephberg'
 'West Samuelburgh' 'West Heidi' 'Loganberg' 'Huntermouth' 'Grahamburgh'
 'Port Frank' 'East Kaylahaven' 'West Robert' 'North Markport'
 'Richardfort' 'Reynoldsfurt' 'Justinberg' 'Martinezhaven' 'Jerryton'
 'Lake Scottton' 'South Evanton' 'Rogerston' 'West Ericstad' 'Hurleymouth'
 'Joneschester' 'Port Angela' 'Barajasview' 'West Christopherberg'
 'New Jacobville' 'Port David' 'Valentineton' 'Carriemouth' 'Williamsstad'
 'Royland' 'Karenberg' 'Christopherfurt' 'Liumouth' 'Johnton' 'Erikaland'
 'Raymondhaven' 'Karenside' 'Lake Danielberg' 'South Phillip'
 'North Madeline' 'Port Johnbury' 'Robertport' 'Pattyland' 'Amandaburgh'
 'North Barbara' 'West Gabriel']
______
There are 18 rural cities
______
There are 537 rural drivers
______
There are 125 rural riders
______
The average rural fare was $34.62344 .

   index             city  driver_count
0   2250   Randallchester             9
1   2255      North Holly             8
2   2264      Michaelberg             6
3   2276  Lake Latoyabury             2
4   2287      Taylorhaven             1

In [ ]:
Other_Purchases_df= player_purchase.loc[player_purchase["Gender"]=="Other / Non-Disclosed"]
other_purchase_count=len(Other_Purchases_df)
Average_Other_Purchase_Price = Other_Purchases_df["Price"].mean()
Total_Other_Revenue=Other_Purchases_df["Price"].sum()
Avg_purchase_per_Person_Other=Total_Other_Revenue/other_purchase_count

gender_purchase_data_frame =pd.DataFrame([
        {"Gender": "Male", "Purchase Count":male_purchase_count,"Average Purchase Price":Average_Male_Purchase_Price,
         "Total Purchase Value":Total_Male_Revenue, "Average Purchase Total Per Person":Avg_purchase_per_Person_Male},
    {"Gender": "Female", "Purchase Count":female_purchase_count,"Average Purchase Price":Average_Female_Purchase_Price,
         "Total Purchase Value":Total_Female_Revenue, "Average Purchase Total Per Person":Avg_purchase_per_Person_Female},
    {"Gender": "Other", "Purchase Count":other_purchase_count,"Average Purchase Price":Average_Other_Purchase_Price,
         "Total Purchase Value":Total_Other_Revenue, "Average Purchase Total Per Person":Avg_purchase_per_Person_Other}
])

In [71]:
# Filter the data for charting axis on city type and create DataFrames
Urban_CR_df = city_and_ride_df.loc[city_and_ride_df["type"] == "Urban", :]
#Urban_CR_df["fare"] = Urban_CR_df["fare"].map("${:.2f}".format)
print(Urban_CR_df.head(1))

Suburban_CR_df = city_and_ride_df.loc[city_and_ride_df["type"] == "Suburban", :]
#Suburban_CR_df["fare"] = Suburban_CR_df["fare"].map("${:.2f}".format)
print(Suburban_CR_df.head(1))

Rural_CR_df = city_and_ride_df.loc[city_and_ride_df["type"] == "Rural", :]
#Rural_CR_df["fare"] = Rural_CR_df["fare"].map("${:.2f}".format)
print(Rural_CR_df.head(1))
#Rural_CR_df

                 city                 date   fare        ride_id  \
0  Lake Jonathanshire  2018-01-14 10:14:22  13.83  5739410935873

   driver_count   type
0             5  Urban
               city                 date   fare        ride_id  driver_count  \
1625  Barronchester  2018-01-27 03:08:01  27.79  6653622887913            11

          type
1625  Suburban
                city                 date   fare        ride_id  driver_count  \
2250  Randallchester  2018-04-13 11:13:31  43.22  1076079536213             9

       type
2250  Rural

In [72]:
urban_increment=Urban_CR_df["fare"].max()/(len(x_axis))
print(urban_increment)

suburban_increment=Suburban_CR_df["fare"].max()/(len(x_axis))
print(suburban_increment)

rural_increment=Rural_CR_df["fare"].max()/(len(x_axis))
print(rural_increment)

4.088181818181818
4.541818181818182
5.322727272727272

In [77]:
fare_max=city_and_ride_df["fare"].max()

#y_limit=60

data_overall = np.arange(3.0,(fare_max+6.45),5)
data_overall

urban_fare_count=Urban_CR_df["fare"].count()
suburban_fare_count=Suburban_CR_df["fare"].count()
rural_fare_count=Rural_CR_df["fare"].count()

urban_fare_min=Urban_CR_df["fare"].min()
suburban_fare_min=Suburban_CR_df["fare"].min()
rural_fare_min=Rural_CR_df["fare"].min()

urban_fare_mean=Urban_CR_df["fare"].mean()
suburban_fare_mean=Suburban_CR_df["fare"].mean()
rural_fare_mean=Rural_CR_df["fare"].mean()

urban_fare_max=Urban_CR_df["fare"].max()
suburban_fare_max=Suburban_CR_df["fare"].max()
rural_fare_max=Rural_CR_df["fare"].max()

print("___________")
print(urban_fare_count)
print(urban_fare_mean)
print(urban_fare_min)
print(urban_fare_max)
print("___________")
print(suburban_fare_count)
print(suburban_fare_mean)
print(suburban_fare_min)
print(suburban_fare_max)
print("___________")
print(rural_fare_count)
print(rural_fare_mean)
print(rural_fare_min)
print(rural_fare_max)

___________
1625
24.525772307692307
4.05
44.97
___________
625
30.970127999999992
12.05
49.96
___________
125
34.62344
10.11
58.55

In [74]:
data_urban= np.arange(0,(urban_fare_max+15.04),5)
data_urban

array([ 0.,  5., 10., 15., 20., 25., 30., 35., 40., 45., 50., 55., 60.])

In [75]:
data_suburban= np.arange(0,(suburban_fare_max+13.45),5)
data_suburban

array([ 0.,  5., 10., 15., 20., 25., 30., 35., 40., 45., 50., 55., 60.])

In [76]:
data_rural= np.arange(0,(rural_fare_max+2.45),5)
data_rural

array([ 0.,  5., 10., 15., 20., 25., 30., 35., 40., 45., 50., 55., 60.])

In [ ]:
# Build the scatter plots for each city types
plt.scatter(x_axis, data, marker="o", facecolors="red", edgecolors="black",
            s=x_axis, alpha=0.75)

In [ ]:
# Obtain the x and y coordinates for each of the three city types
#Create a group for Urban, Suburban, Rural, then find limits for the groups if necessary.

# The maximum x value for our chart will be 40
x_limit_overall = 40

# List of values from 0 to 40 each value being 1 greater than the last
x_axis = np.arange(0, x_limit, 1)

# Create an data array to use for our y values

fare_max=city_and_ride_df["fare"].max()

#y_limit=60

data_overall = np.arange(3.0,(fare_max+6.45),5)
data_overall



# Build the scatter plots for each city types

# Incorporate the other graph properties

# Create a legend

# Incorporate a text label regarding circle size

# Save Figure

In [ ]:
# Show plot
plt.show()

## Total Fares by City Type

In [ ]:
# Calculate Type Percents

# Build Pie Chart

# Save Figure

In [ ]:
# Show Figure
plt.show()

## Total Rides by City Type

In [ ]:
# Calculate Ride Percents

# Build Pie Chart

# Save Figure

In [ ]:
# Show Figure
plt.show()

## Total Drivers by City Type

In [ ]:
# Calculate Driver Percents

# Build Pie Charts

# Save Figure

In [ ]:
# Show Figure
plt.show()

In [ ]:
#=---print("_____")
#=---grouped_type_df = city_and_ride_df.groupby(["type"])
#=---print("_____")
#=---type_count_df=pd.DataFrame(grouped_type_df["city"].count())
#=---type_count_df
#for 
##count = Rural_CR_df["ride_id"].value_counts()
#count